body {
    background: url("../image/background.jpg") no-repeat center center fixed;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    justify-items: center;
}

.grid-container img {
    width: 70%;
    height: auto;
    display: block;
    border: 1px solid #ccc;
}

.footer-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#backbotton{
    width: 40px;
    height: auto;
    cursor: pointer;
    
}

#nextbotton {
    width: 40px;
    height: auto;
    cursor: pointer;
}
